h2 {
    color: rgb(181, 71, 255);
    font-family: 'Caveat', cursive;
}

p {
    color: rgb(207, 207, 207);
}

h5 {
    text-decoration: none;
    color: rgb(146, 146, 146);
}

button {
    border: none;
    Color: rgb(146, 146, 146);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background: transparent;
}

button:hover {
    Color: rgb(203, 158, 245);
}

a {
    text-decoration: none;
    color: rgb(151, 151, 151);
}

a:hover {
    color: rgb(203, 158, 245);
}


/*body*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 27, 27);
    margin: 0;
}


/* navigation bar */

.navbar {
    overflow: hidden;
    background-color: rgb(41, 41, 41);
}


/* navigation bar links */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/* Right-aligned link */

.navbar a.right {
    float: right;
}


/* over */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(203, 158, 245);
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Column container */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* Sidebar/left column */

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: rgb(41, 41, 41);
    padding: 20px;
}


/* Main column */

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: rgb(27, 27, 27);
    padding: 20px;
}


/* images */

.image {
    width: 100%;
    padding: 20px;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: rgb(41, 41, 41);
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}